<title>Add User</title>

<!DOCTYPE html>
<html>
    <form action="/adduser" method="POST">
        Email<br>
        <input type="text" name="email" id="email" required>

        <br><br>
        Username<br>
        <input type="text" name="username" id="username" required>

        <br><br>
        Password<br>
        <input type="text" name="password" id="password" required>

        <br><br>
        <input type="submit" value="Submit">
    </form>
    <a href="/home">Return Home</a>
</html>